<h1>User Dashboard</h1>

<p><b>Name:</b> {{user.name}}</p>
<p><b>Email:</b> {{user.email}}</p>
<p><b>Phone:</b> {{user.phone}}</p>
<p><b>Course:</b> {{user.course}}</p>

<a href="/logout">Logout</a>












{{!-- <h1>Admin Dashboard</h1>
<p>Welcome Admin ✅</p>
<a href="/logout">Logout</a> --}}
